ng_route_test/node_modules
ng_route_test/dist
ng_route_test/.tmp
ng_route_test/.sass-cache
ng_route_test/app/bower_components

ui_router_test/node_modules
ui_router_test/dist
ui_router_test/.tmp
ui_router_test/.sass-cache
ui_router_test/app/bower_components
